/* General */
.contenido-app-full {
    padding-left: 80px;
    transition: 300ms;

}
.contenido-app-small {
    padding-left: 250px;
    transition: 300ms;
}

.h1-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #1db954;
    background-color: transparent;
}


@media (max-width: 768px) {

    .contenido-app-full {
        padding-left: 80px;
        transition: 300ms;
    }

    .contenido-app-small {
        padding-left: 0px;
        transition: 300ms;
    }
}